.layout-dashboard {
    background: transparent;
    text-align: left;
    position: relative;
    overflow-x: hidden;
}
@media (min-width: 992px) {
    .layout-dashboard {
        overflow: auto;
   }
}
.layout-dashboard:not(.layout-dashboard-rtl) .ant-layout-sider .brand img {
    margin-right: 5px;
}
.layout-dashboard.layout-dashboard-rtl .ant-layout-sider .brand img {
    margin-left: 5px;
}
.layout-dashboard .ant-layout-sider.sider-primary {
    width: 250px;
    position: fixed;
    left: 0;
    z-index: 99;
    height: 100vh;
    overflow: auto;
    margin: 0;
    padding: 33px 20px;
    background: #fff !important;
}
@media (min-width: 992px) {
    .layout-dashboard .ant-layout-sider.sider-primary {
        margin: 20px 0 0 20px;
        padding: 13px 20px;
        height: calc(100vh - 20px);
        background: transparent !important;
   }
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-dark {
    background-color: #001529 !important;
    box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-zero-width {
    overflow-x: hidden;
    width: 210px;
    margin: 0;
    padding: 33px 0px;
}
@media (min-width: 992px) {
    .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-zero-width {
        padding: 13px 0;
        margin: 20px 0 0 0;
   }
}
.layout-dashboard .ant-layout-sider.sider-primary .ant-layout-sider-children {
    width: 210px;
}
@media (min-width: 992px) {
    .layout-dashboard .ant-layout-sider.sider-primary .ant-layout-sider-children {
        width: auto;
   }
}
.layout-dashboard .ant-layout-sider.sider-primary .brand {
    font-weight: 600;
    padding: 10px 16px;
}
.layout-dashboard .ant-layout-sider.sider-primary .brand span {
    vertical-align: middle;
}
.layout-dashboard .ant-layout-sider.sider-primary .brand img {
    height: 30px;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-dark .brand span {
    color: #fff;
}
.layout-dashboard .ant-layout-sider.sider-primary hr {
    margin: 18px 0;
    border: none;
    height: 1px;
    background-color: #f5f5f5;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-white {
    background-color: #fff !important;
    box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
    margin: 0;
    padding-top: 33px;
    border-radius: 0px;
}
@media (min-width: 992px) {
    .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-white {
        margin: 20px 0 64px 20px;
        padding-top: 13px;
        border-radius: 8px;
   }
}
.layout-dashboard .ant-layout-sider.sider-primary .ant-menu-inline {
    border: none;
}
.layout-dashboard .ant-layout-sider.sider-primary .ant-menu-inline .ant-menu-item, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-inline .ant-menu-submenu {
    margin: 0;
    overflow: visible;
}
.layout-dashboard .ant-layout-sider.sider-primary .ant-menu-inline .ant-menu-item::after, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-inline .ant-menu-submenu::after {
    display: none;
}
.layout-dashboard .ant-layout-sider.sider-primary .ant-menu-inline .ant-menu-submenu-title {
    overflow: visible;
}
.layout-dashboard .ant-layout-sider.sider-primary .ant-menu-item, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-submenu {
    padding: 0 !important;
    height: auto;
    line-height: normal;
}
.layout-dashboard .ant-layout-sider.sider-primary .ant-menu-item.ant-menu-item:active, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-submenu.ant-menu-item:active, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-item.ant-menu-submenu-title:active, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-submenu.ant-menu-submenu-title:active, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-item.ant-menu-item-selected, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-submenu.ant-menu-item-selected, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-item .ant-menu-submenu:active, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-submenu .ant-menu-submenu:active, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-item .ant-menu-submenu-selected, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-submenu .ant-menu-submenu-selected {
    background-color: transparent;
}
.layout-dashboard .ant-layout-sider.sider-primary .ant-menu-item a, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-submenu a {
    padding: 10px 16px;
    color: #141414;
    border-radius: 8px;
}
.layout-dashboard .ant-layout-sider.sider-primary .ant-menu-item .icon, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-submenu .icon {
    display: inline-flex;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    margin-right: 11px;
    vertical-align: middle;
}
.layout-dashboard .ant-layout-sider.sider-primary .ant-menu-item svg path, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-submenu svg path {
    fill: #bfbfbf;
}
.layout-dashboard .ant-layout-sider.sider-primary .ant-menu-item .label, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-submenu .label {
    vertical-align: middle;
}
.layout-dashboard .ant-layout-sider.sider-primary .ant-menu-item.ant-menu-item-selected .router-link-active, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-submenu.ant-menu-item-selected .router-link-active, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-item .router-link-active, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-submenu .router-link-active {
    background-color: #fff;
    box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
}
.layout-dashboard .ant-layout-sider.sider-primary .ant-menu-item.ant-menu-item-selected .router-link-active .icon, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-submenu.ant-menu-item-selected .router-link-active .icon, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-item .router-link-active .icon, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-submenu .router-link-active .icon {
    background-color: #1890ff;
}
.layout-dashboard .ant-layout-sider.sider-primary .ant-menu-item.ant-menu-item-selected .router-link-active svg path, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-submenu.ant-menu-item-selected .router-link-active svg path, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-item .router-link-active svg path, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-submenu .router-link-active svg path {
    fill: #fff;
}
.layout-dashboard .ant-layout-sider.sider-primary .ant-menu-item.ant-menu-item-selected .router-link-active .label, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-submenu.ant-menu-item-selected .router-link-active .label, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-item .router-link-active .label, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-submenu .router-link-active .label {
    font-weight: 600;
}
.layout-dashboard .ant-layout-sider.sider-primary .ant-menu-item a:hover, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-submenu a:hover {
    color: #141414;
}
.layout-dashboard .ant-layout-sider.sider-primary .ant-menu-item a:hover .icon, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-submenu a:hover .icon {
    transition: box-shadow 0.1s ease-in;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}
.layout-dashboard .ant-layout-sider.sider-primary .ant-menu-item.menu-item-header, .layout-dashboard .ant-layout-sider.sider-primary .ant-menu-submenu.menu-item-header {
    padding: 10px 16px !important;
    color: #8c8c8c;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-white .ant-menu-item .icon {
    background-color: #fafafa;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-white .ant-menu-item.ant-menu-item-selected .router-link-active, .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-white .ant-menu-item .router-link-active {
    background-color: transparent;
    box-shadow: none;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-white .ant-menu-item.ant-menu-item-selected .router-link-active .icon, .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-white .ant-menu-item .router-link-active .icon {
    background-color: #1890ff;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-white .ant-menu-item.ant-menu-item-selected .router-link-active svg path, .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-white .ant-menu-item .router-link-active svg path {
    fill: #fff;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-dark {
    margin: 0;
    padding-top: 33px;
    border-radius: 0px;
}
@media (min-width: 992px) {
    .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-dark {
        margin: 20px 0 0 20px;
        padding-top: 13px;
        border-radius: 8px;
   }
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-dark .ant-menu-item a {
    padding: 10px 10px;
    border-radius: 6px;
    margin: 7px 0;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-dark .ant-menu-item .icon {
    background-color: transparent;
    height: auto;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-dark .ant-menu-item .label {
    color: #fff;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-dark .ant-menu-item.ant-menu-item-selected .router-link-active, .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-dark .ant-menu-item .router-link-active {
    background-color: #1890ff;
    box-shadow: none;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-dark .ant-menu-item.ant-menu-item-selected .router-link-active .icon, .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-dark .ant-menu-item .router-link-active .icon {
    background-color: transparent;
    box-shadow: none;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-dark .ant-menu-item.ant-menu-item-selected .router-link-active svg path, .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-dark .ant-menu-item .router-link-active svg path {
    fill: #fff;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-dark .ant-menu-item.menu-item-header {
    color: #fff;
    opacity: 0.7;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-primary .ant-menu-item.ant-menu-item-selected .router-link-active .icon, .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-primary .ant-menu-item .router-link-active .icon {
    background-color: #1890ff;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-secondary .ant-menu-item.ant-menu-item-selected .router-link-active .icon, .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-secondary .ant-menu-item .router-link-active .icon {
    background-color: #b37feb;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-success .ant-menu-item.ant-menu-item-selected .router-link-active .icon, .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-success .ant-menu-item .router-link-active .icon {
    background-color: #52c41a;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-warning .ant-menu-item.ant-menu-item-selected .router-link-active .icon, .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-warning .ant-menu-item .router-link-active .icon {
    background-color: #fadb14;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-danger .ant-menu-item.ant-menu-item-selected .router-link-active .icon, .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-danger .ant-menu-item .router-link-active .icon {
    background-color: #f5222d;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-black .ant-menu-item.ant-menu-item-selected .router-link-active .icon, .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-black .ant-menu-item .router-link-active .icon {
    background-color: #141414;
}
.layout-dashboard .ant-layout-sider.sider-primary .aside-footer {
    display: none;
    padding-top: 100px;
    padding-bottom: 33px;
}
@media (min-width: 992px) {
    .layout-dashboard .ant-layout-sider.sider-primary .aside-footer {
        padding-bottom: 20px;
   }
}
.layout-dashboard .ant-layout-sider.sider-primary .footer-box {
    background-color: #fff;
    color: #141414;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
    margin-bottom: 8px;
}
.layout-dashboard .ant-layout-sider.sider-primary .footer-box .icon {
    display: inline-flex;
    width: 32px;
    height: 32px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    background-color: #1890ff;
}
.layout-dashboard .ant-layout-sider.sider-primary .footer-box svg path {
    fill: #fff;
}
.layout-dashboard .ant-layout-sider.sider-primary .footer-box h6 {
    font-weight: 600;
    font-size: 16px;
    color: #141414;
    margin-bottom: 0;
}
.layout-dashboard .ant-layout-sider.sider-primary .footer-box p {
    color: #8c8c8c;
    font-weight: 600;
}
.layout-dashboard .ant-layout-sider.sider-primary .footer-box button {
    margin: 0;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-dark .footer-box, .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-white .footer-box {
    background-color: #fafafa;
    box-shadow: none;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-primary .footer-box {
    background-color: #1890ff;
    color: #fff;
    box-shadow: none;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-primary .footer-box .icon {
    background-color: #fff;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-primary .footer-box svg path {
    fill: #1890ff;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-primary .footer-box h6 {
    color: #fff;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-primary .footer-box p {
    color: #f5f5f5;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-primary .footer-box button, .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-primary .footer-box a {
    background-color: #fff;
    color: #141414;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-primary .footer-box {
    background-color: #1890ff;
    color: #fff;
    box-shadow: none;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-primary .footer-box .icon {
    background-color: #fff;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-primary .footer-box svg path {
    fill: #1890ff;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-primary .footer-box h6 {
    color: #fff;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-primary .footer-box p {
    color: #f5f5f5;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-primary .footer-box button, .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-primary .footer-box a {
    background-color: #fff;
    border-color: #f0f0f0;
    color: #141414;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-secondary .footer-box {
    background-color: #b37feb;
    color: #fff;
    box-shadow: none;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-secondary .footer-box .icon {
    background-color: #fff;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-secondary .footer-box svg path {
    fill: #b37feb;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-secondary .footer-box h6 {
    color: #fff;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-secondary .footer-box p {
    color: #f5f5f5;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-secondary .footer-box button, .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-secondary .footer-box a {
    background-color: #fff;
    border-color: #f0f0f0;
    color: #141414;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-success .footer-box {
    background-color: #52c41a;
    color: #fff;
    box-shadow: none;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-success .footer-box .icon {
    background-color: #fff;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-success .footer-box svg path {
    fill: #52c41a;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-success .footer-box h6 {
    color: #fff;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-success .footer-box p {
    color: #f5f5f5;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-success .footer-box button, .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-success .footer-box a {
    background-color: #fff;
    border-color: #f0f0f0;
    color: #141414;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-warning .footer-box {
    background-color: #fadb14;
    color: #fff;
    box-shadow: none;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-warning .footer-box .icon {
    background-color: #fff;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-warning .footer-box svg path {
    fill: #fadb14;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-warning .footer-box h6 {
    color: #fff;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-warning .footer-box p {
    color: #f5f5f5;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-warning .footer-box button, .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-warning .footer-box a {
    background-color: #fff;
    border-color: #f0f0f0;
    color: #141414;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-danger .footer-box {
    background-color: #f5222d;
    color: #fff;
    box-shadow: none;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-danger .footer-box .icon {
    background-color: #fff;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-danger .footer-box svg path {
    fill: #f5222d;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-danger .footer-box h6 {
    color: #fff;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-danger .footer-box p {
    color: #f5f5f5;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-danger .footer-box button, .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-danger .footer-box a {
    background-color: #fff;
    border-color: #f0f0f0;
    color: #141414;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-black .footer-box {
    background-color: #141414;
    color: #fff;
    box-shadow: none;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-black .footer-box .icon {
    background-color: #fff;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-black .footer-box svg path {
    fill: #141414;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-black .footer-box h6 {
    color: #fff;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-black .footer-box p {
    color: #f5f5f5;
}
.layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-black .footer-box button, .layout-dashboard .ant-layout-sider.sider-primary.ant-layout-sider-black .footer-box a {
    background-color: #fff;
    border-color: #f0f0f0;
    color: #141414;
}
.layout-dashboard.has-sidebar .ant-layout-sider.sider-primary .aside-footer {
    display: block;
}
.layout-dashboard .sidebar-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #141414;
    opacity: 0.5;
    z-index: 9;
}
@media (min-width: 992px) {
    .layout-dashboard .sidebar-overlay {
        background-color: transparent;
        opacity: 0;
        pointer-events: none;
   }
}
.layout-dashboard .ant-layout {
    background: transparent;
    position: relative;
    min-height: 100vh;
    width: 100%;
    flex-shrink: 0;
}
@media (min-width: 992px) {
    .layout-dashboard .ant-layout {
        width: auto;
        flex-shrink: 1;
        margin-left: 270px;
   }
}
.layout-dashboard .ant-menu {
    background: transparent;
}
.layout-dashboard .ant-layout-content {
    padding: 0px;
    margin: 0px 20px 0px;
}
.layout-dashboard .ant-layout-header {
    background: transparent;
    height: auto;
    padding: 16px;
    margin: 10px 4px;
    line-height: inherit;
    border-radius: 12px;
    transition: 0.2s;
}
@media (min-width: 768px) {
    .layout-dashboard .ant-layout-header {
        margin: 10px 20px;
   }
}
.layout-dashboard.navbar-fixed .ant-layout > div > .ant-affix .ant-layout-header {
    background: #fff;
    box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
    margin: 10px 20px;
}
.layout-dashboard.navbar-fixed.has-sidebar .ant-layout > div > .ant-affix {
    z-index: 1;
}
@media (min-width: 992px) {
    .layout-dashboard.navbar-fixed.has-sidebar .ant-layout > div > .ant-affix {
        z-index: 10;
   }
}
@media (max-width: 576px) {
    .layout-dashboard .header-notifications-dropdown {
        left: 20px !important;
        right: 20px !important;
   }
}
.layout-dashboard.navbar-fixed .header-notifications-dropdown {
    position: fixed;
}
.layout-dashboard .header-notifications-list {
    background: #fff;
    box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    min-width: 176px;
    padding: 16px 8px;
}
.layout-dashboard .header-notifications-list ul.ant-dropdown-menu-items {
    padding: 0;
    margin: 0;
}
.layout-dashboard .header-notifications-list .ant-list-item {
    padding: 5px 16px;
    margin-bottom: 8px;
}
.layout-dashboard .header-notifications-list .ant-list-item:last-child {
    margin-bottom: 0;
}
.layout-dashboard .header-notifications-list .ant-list-item-meta-title {
    line-height: normal;
}
.layout-dashboard .header-notifications-list .ant-avatar {
    width: 36px;
    height: 36px;
    background-color: #fafafa;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout-dashboard .header-notifications-list .ant-avatar svg {
    width: 22px;
    height: 22px;
}
.layout-dashboard .header-notifications-list .ant-list-item-meta-description {
    color: #8c8c8c;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
}
.layout-dashboard .header-notifications-list .ant-list-item-meta-description svg {
    width: 14px;
    height: 14px;
    fill: #8c8c8c;
    vertical-align: middle;
    margin-right: 4px;
}
.layout-dashboard .header-notifications-list .ant-list-item-meta-description svg path {
    fill: #8c8c8c;
}
.layout-dashboard .header-notifications-list .ant-list-item-meta-description span {
    vertical-align: middle;
}
.layout-dashboard .ant-breadcrumb > span .ant-breadcrumb-link a {
    color: #8c8c8c;
}
.layout-dashboard .ant-breadcrumb > span:last-child .ant-breadcrumb-link {
    color: #141414;
}
.layout-dashboard .ant-page-header-heading {
    margin-top: 0;
}
.layout-dashboard .ant-page-header-heading .ant-page-header-heading-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px;
}
.layout-dashboard .header-control {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 10px;
}
@media (min-width: 768px) {
    .layout-dashboard .header-control {
        margin-top: 0;
   }
}
.layout-dashboard .header-control .ant-btn-link {
    height: auto;
    padding: 0 7px;
    margin: 0;
    box-shadow: none;
    color: #8c8c8c;
}
.layout-dashboard .header-control .ant-dropdown-link {
    padding: 0 7px;
    margin: 0;
}
.layout-dashboard .header-control .btn-sign-in {
    height: auto;
    padding: 0 7px;
    margin: 0;
    box-shadow: none;
    color: #8c8c8c;
}
.layout-dashboard .header-control .btn-sign-in svg {
    margin-right: 4px;
}
.layout-dashboard .header-control .btn-sign-in span {
    font-weight: 600;
    vertical-align: middle;
    display: none;
}
@media (min-width: 768px) {
    .layout-dashboard .header-control .btn-sign-in span {
        display: inline;
   }
}
.layout-dashboard .header-control svg {
    vertical-align: middle;
}
.layout-dashboard .header-control svg path {
    fill: #141414;
}
.layout-dashboard .header-control .header-search {
    width: 200px;
    margin: 0 7px 0 0;
}
@media (min-width: 768px) {
    .layout-dashboard .header-control .header-search {
        margin: 0 7px;
   }
}
.layout-dashboard .header-control .header-search svg path {
    fill: #8c8c8c;
}
.layout-dashboard .header-control .header-search .ant-input {
    font-weight: 600;
    color: #8c8c8c;
}
.layout-dashboard .header-control .header-search .ant-input:not(:first-child) {
    padding-left: 32px;
}
.layout-dashboard .header-control .header-search .ant-input:not(:last-child) {
    padding-right: 11px;
}
.layout-dashboard .header-control .header-search.loading .ant-input:not(:last-child) {
    padding-right: 30px;
}
.layout-dashboard .header-control .header-search .ant-input-suffix .ant-input-search-icon {
    display: none;
}
.layout-dashboard .header-control .header-search .ant-input-suffix .ant-input-search-icon.anticon-loading {
    display: block;
}
.layout-dashboard .header-control .sidebar-toggler {
    display: block;
}
@media (min-width: 992px) {
    .layout-dashboard .header-control .sidebar-toggler {
        display: none;
   }
}
.layout-dashboard .ant-layout-footer {
    background: transparent;
    margin: 0px 20px 20px 20px;
    padding: 0px;
}
@media (min-width: 768px) {
    .layout-dashboard .ant-layout-footer {
        margin: 0px 0px 20px 20px;
   }
}
.layout-dashboard .ant-layout-footer .ant-menu-horizontal {
    border: none;
    line-height: 1.5;
    margin-top: 20px;
    text-align: center;
}
@media (min-width: 768px) {
    .layout-dashboard .ant-layout-footer .ant-menu-horizontal {
        margin-top: 0;
        text-align: right;
   }
}
.layout-dashboard .ant-layout-footer .ant-menu-horizontal > .ant-menu-item, .layout-dashboard .ant-layout-footer .ant-menu-horizontal > .ant-menu-item:hover, .layout-dashboard .ant-layout-footer .ant-menu-horizontal > .ant-menu-item-active, .layout-dashboard .ant-layout-footer .ant-menu-horizontal > .ant-menu-item-selected, .layout-dashboard .ant-layout-footer .ant-menu-horizontal > .ant-menu-submenu, .layout-dashboard .ant-layout-footer .ant-menu-horizontal > .ant-menu-submenu:hover, .layout-dashboard .ant-layout-footer .ant-menu-horizontal > .ant-menu-submenu-active, .layout-dashboard .ant-layout-footer .ant-menu-horizontal > .ant-menu-submenu-selected {
    color: #8c8c8c;
    font-weight: 600;
    border: none;
}
.layout-dashboard .ant-layout-footer .ant-menu-horizontal > .ant-menu-item:hover, .layout-dashboard .ant-layout-footer .ant-menu-horizontal > .ant-menu-item-active, .layout-dashboard .ant-layout-footer .ant-menu-horizontal > .ant-menu-item-selected, .layout-dashboard .ant-layout-footer .ant-menu-horizontal > .ant-menu-submenu:hover, .layout-dashboard .ant-layout-footer .ant-menu-horizontal > .ant-menu-submenu-active, .layout-dashboard .ant-layout-footer .ant-menu-horizontal > .ant-menu-submenu-selected {
    color: #262626;
}
.layout-dashboard .ant-layout-footer .ant-menu-horizontal .ant-menu-submenu-title {
    font-size: 16px;
    font-weight: bold;
}
.layout-dashboard .ant-layout-footer .copyright {
    margin: 0;
    font-weight: 600;
    color: #8c8c8c;
    text-align: center;
}
@media (min-width: 768px) {
    .layout-dashboard .ant-layout-footer .copyright {
        text-align: left;
   }
}
.layout-dashboard .ant-layout-footer .copyright svg {
    width: 16px;
    height: 16px;
    vertical-align: -2px;
}
.layout-dashboard .ant-layout-footer .copyright svg path {
    fill: #f5222d;
}
.layout-dashboard .ant-layout-footer .copyright a {
    font-weight: 700;
    color: #141414;
}
