body {
    padding: 0 0 30px 0;
    background-color: #fafafa;
}
.layout-default {
    background: transparent;
    text-align: left;
    position: relative;
    overflow-x: hidden;
}
@media (min-width: 992px) {
    .layout-default {
        overflow: auto;
   }
}
.layout-default .ant-layout-header {
    display: flex;
    position: relative;
    background-color: #fff;
    color: #141414;
    box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
    flex-direction: column;
    padding: 20px;
    height: auto;
    line-height: 1.5;
}
@media (min-width: 992px) {
    .layout-default .ant-layout-header {
        flex-direction: row;
        padding: 0 50px;
        height: 64px;
        line-height: 64px;
   }
}
.layout-default .ant-layout-header .header-brand {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}
@media (min-width: 992px) {
    .layout-default .ant-layout-header .header-brand {
        margin-right: auto;
        margin-left: 0;
        display: block;
        width: auto;
        margin-bottom: 0px;
   }
}
.layout-default .ant-layout-header .header-brand .btn-menu-trigger {
    display: block;
}
@media (min-width: 992px) {
    .layout-default .ant-layout-header .header-brand .btn-menu-trigger {
        display: none;
   }
}
.layout-default .ant-layout-header .header-brand h6 {
    white-space: nowrap;
    font-size: 16px;
    color: #141414;
    margin: 0;
}
@media (min-width: 992px) {
    .layout-default .ant-layout-header .header-brand h6 {
        font-size: 14px;
   }
}
.layout-default .ant-layout-header .header-menu .ant-menu-submenu a svg {
    margin-right: 5px;
}
.layout-default .ant-layout-header .header-nav {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
@media (min-width: 992px) {
    .layout-default .ant-layout-header .header-nav {
        margin-right: auto;
        margin-left: auto;
   }
}
.layout-default .ant-layout-header .header-nav a {
    color: #141414;
    padding: 6px 12px;
    font-weight: 400;
}
.layout-default .ant-layout-header .header-nav a.router-link-active {
    color: #141414;
    font-weight: 600;
}
.layout-default .ant-layout-header .header-nav a.router-link-active svg path {
    fill: #141414;
}
.layout-default .ant-layout-header .header-nav a svg, .layout-default .ant-layout-header .header-nav a span {
    vertical-align: middle;
}
.layout-default .ant-layout-header .header-nav a svg {
    margin-right: 5px;
}
.layout-default .ant-layout-header .header-nav .menu-large {
    display: none;
}
@media (min-width: 992px) {
    .layout-default .ant-layout-header .header-nav .menu-large {
        display: block;
   }
}
.layout-default .ant-layout-header .header-nav .ant-menu-horizontal {
    border: none;
    margin-top: 0px;
    text-align: center;
    background-color: transparent;
}
@media (min-width: 768px) {
    .layout-default .ant-layout-header .header-nav .ant-menu-horizontal {
        margin-top: 0;
   }
}
.layout-default .ant-layout-header .header-nav .ant-menu-horizontal > .ant-menu-item {
    padding: 0;
}
.layout-default .ant-layout-header .header-nav .ant-menu-horizontal .ant-menu-submenu-title > span {
    vertical-align: 6px;
}
.layout-default .ant-layout-header .header-nav .ant-menu-horizontal > .ant-menu-item, .layout-default .ant-layout-header .header-nav .ant-menu-horizontal > .ant-menu-item:hover, .layout-default .ant-layout-header .header-nav .ant-menu-horizontal > .ant-menu-item-active, .layout-default .ant-layout-header .header-nav .ant-menu-horizontal > .ant-menu-item-selected, .layout-default .ant-layout-header .header-nav .ant-menu-horizontal > .ant-menu-submenu, .layout-default .ant-layout-header .header-nav .ant-menu-horizontal > .ant-menu-submenu:hover, .layout-default .ant-layout-header .header-nav .ant-menu-horizontal > .ant-menu-submenu-active, .layout-default .ant-layout-header .header-nav .ant-menu-horizontal > .ant-menu-submenu-selected {
    color: #8c8c8c;
    font-weight: 600;
    border: none;
}
.layout-default .ant-layout-header .header-nav .ant-menu-horizontal > .ant-menu-item:hover, .layout-default .ant-layout-header .header-nav .ant-menu-horizontal > .ant-menu-item-active, .layout-default .ant-layout-header .header-nav .ant-menu-horizontal > .ant-menu-item-selected, .layout-default .ant-layout-header .header-nav .ant-menu-horizontal > .ant-menu-submenu:hover, .layout-default .ant-layout-header .header-nav .ant-menu-horizontal > .ant-menu-submenu-active, .layout-default .ant-layout-header .header-nav .ant-menu-horizontal > .ant-menu-submenu-selected {
    color: #262626;
}
.layout-default .ant-layout-header .header-nav .ant-menu-horizontal .ant-menu-submenu-title {
    font-size: 16px;
    font-weight: bold;
}
.layout-default .ant-layout-header .header-nav .menu-small {
    display: block;
}
@media (min-width: 992px) {
    .layout-default .ant-layout-header .header-nav .menu-small {
        display: none;
   }
}
.layout-default .ant-layout-header .header-nav .menu-small .ant-menu-inline, .layout-default .ant-layout-header .header-nav .menu-small .ant-menu-vertical, .layout-default .ant-layout-header .header-nav .menu-small .ant-menu-vertical-left {
    border: none;
}
.layout-default .ant-layout-header .header-nav .menu-small .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    display: none;
}
.layout-default .ant-layout-header .header-nav .menu-small .ant-collapse-content {
    border: none;
}
.layout-default .ant-layout-header .header-nav .menu-small .ant-collapse > .ant-collapse-item {
    border: 0;
    border-radius: 4px;
}
.layout-default .ant-layout-header .header-nav .menu-small .ant-menu {
    border: 1px solid #141414;
}
.layout-default .ant-layout-header .header-nav .menu-small .ant-collapse-item:last-child > .ant-collapse-content {
    border-radius: 4px;
    border-color: #141414;
    border-top: 0;
}
.layout-default .ant-layout-header .header-nav .menu-small .ant-collapse {
    background-color: transparent;
    border: 0;
}
.layout-default .ant-layout-header .header-nav .menu-small .ant-menu-inline, .layout-default .ant-layout-header .header-nav .menu-small .ant-menu-vertical, .layout-default .ant-layout-header .header-nav .menu-small .ant-menu-vertical-left {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 16px 0px;
    margin-bottom: 20px;
}
.layout-default .ant-layout-header .header-nav .menu-small .ant-collapse-content-box {
    padding: 0;
}
.layout-default .ant-layout-header .header-nav .menu-small .ant-menu-vertical .ant-menu-item:not(:last-child), .layout-default .ant-layout-header .header-nav .menu-small .ant-menu-vertical-left .ant-menu-item:not(:last-child), .layout-default .ant-layout-header .header-nav .menu-small .ant-menu-vertical-right .ant-menu-item:not(:last-child), .layout-default .ant-layout-header .header-nav .menu-small .ant-menu-inline .ant-menu-item:not(:last-child) {
    height: auto;
    margin: 0;
}
.layout-default .ant-layout-header .header-nav .menu-small .ant-menu-vertical .ant-menu-item a {
    padding-top: 0;
    padding-bottom: 0;
}
.layout-default .ant-layout-header .header-nav .menu-small .ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
}
.layout-default .ant-layout-header .header-nav .menu-small .ant-menu-vertical > .ant-menu-item, .layout-default .ant-layout-header .header-nav .menu-small .ant-menu-vertical-left > .ant-menu-item, .layout-default .ant-layout-header .header-nav .menu-small .ant-menu-vertical-right > .ant-menu-item, .layout-default .ant-layout-header .header-nav .menu-small .ant-menu-inline > .ant-menu-item, .layout-default .ant-layout-header .header-nav .menu-small .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title, .layout-default .ant-layout-header .header-nav .menu-small .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title, .layout-default .ant-layout-header .header-nav .menu-small .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title, .layout-default .ant-layout-header .header-nav .menu-small .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    height: auto;
    margin: 0;
}
@media (min-width: 992px) {
    .layout-default .ant-layout-header .header-btn {
        margin-left: auto;
   }
}
.layout-default .ant-layout-header .header-btn .ant-btn-round.ant-btn-sm {
    font-size: 12px;
    width: 100%;
}
@media (min-width: 992px) {
    .layout-default .ant-layout-header .header-btn .ant-btn-round.ant-btn-sm {
        width: auto;
   }
}
.layout-default .ant-layout-content {
    padding-top: 40px;
}
.layout-default .ant-layout-footer {
    padding: 24px 0px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    background: transparent;
    text-align: center;
}
@media (min-width: 768px) {
    .layout-default .ant-layout-footer {
        padding: 24px 50px;
   }
}
.layout-default .ant-layout-footer .ant-menu-horizontal {
    border: none;
    line-height: 1.5;
    margin: 0 0 30px;
    background-color: transparent;
    font-size: 16px;
}
.layout-default .ant-layout-footer .ant-menu-horizontal > .ant-menu-item, .layout-default .ant-layout-footer .ant-menu-horizontal > .ant-menu-item:hover, .layout-default .ant-layout-footer .ant-menu-horizontal > .ant-menu-item-active, .layout-default .ant-layout-footer .ant-menu-horizontal > .ant-menu-item-selected, .layout-default .ant-layout-footer .ant-menu-horizontal > .ant-menu-submenu, .layout-default .ant-layout-footer .ant-menu-horizontal > .ant-menu-submenu:hover, .layout-default .ant-layout-footer .ant-menu-horizontal > .ant-menu-submenu-active, .layout-default .ant-layout-footer .ant-menu-horizontal > .ant-menu-submenu-selected {
    color: #8c8c8c;
    border: none;
}
.layout-default .ant-layout-footer .ant-menu-horizontal > .ant-menu-item:hover, .layout-default .ant-layout-footer .ant-menu-horizontal > .ant-menu-item-active, .layout-default .ant-layout-footer .ant-menu-horizontal > .ant-menu-item-selected, .layout-default .ant-layout-footer .ant-menu-horizontal > .ant-menu-submenu:hover, .layout-default .ant-layout-footer .ant-menu-horizontal > .ant-menu-submenu-active, .layout-default .ant-layout-footer .ant-menu-horizontal > .ant-menu-submenu-selected {
    color: #262626;
}
.layout-default .ant-layout-footer .ant-menu-horizontal .ant-menu-submenu-title {
    font-size: 16px;
    font-weight: bold;
}
.layout-default .ant-layout-footer .menu-nav-social a svg {
    fill: #8c8c8c;
    vertical-align: middle;
}
.layout-default .ant-layout-footer .menu-nav-social a:hover svg {
    fill: #1890ff;
}
.layout-default .ant-layout-footer .copyright {
    margin: 0;
    font-size: 16px;
    color: #8c8c8c;
}
.layout-default .ant-layout-footer .copyright svg {
    width: 16px;
    height: 16px;
    vertical-align: -2px;
}
.layout-default .ant-layout-footer .copyright svg path {
    fill: #f5222d;
}
.layout-default .ant-layout-footer .copyright a {
    color: inherit;
}
